/*  your css code here. If applicable */
.container h1{
	color:#2a7ae2;
}
.container h2{
	color:#f44336;
}
.container h3{
	color:#4caf50;
}
.container h4{
	color:#ff9800;
}
.container h5{
	color:#607d8b;
}
.container h6{
	color:#ffeb3b;
}
